/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clear-fix::after{
    content: "";
    display: table;
    clear: both;
}

img{
    width: 100%;
}

html{
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
} 

ul{
    list-style: none;
}

/* COMMON */
.container{
    width: 80%;
    margin: 0 auto;
}

.bg-light-blue{
    background-color: #b4d0e7;
}

.btn{
    color: white;
    padding: .4em 1.2em;
}

.btn-blue{
background-color: blue;
}

.btn-large{

}


/* BODY */
/* HEADER */
header{
    height: 80px;
}

nav li{
    margin: 0 1.5em;
    display: inline-block;
    line-height: 80px;
}

nav li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.header-col{
    width: 50%;
    float: left;
}

.header-col-left img{
    width: 120px;
    vertical-align: middle;
}

.header-col-right ul li{
    float: right;
}



/* MAIN */
/* banner Dropbox*/
.banner-dropbox{
    height: 700px;
}

.title-banner{
    height: 200px;
    background-color: aquamarine;
}

.content-banner{
    height: 400px;
    background-color: pink;
}

/* business Dropbox */
.business-dropbox{
    height: 1400px;
    background-color: coral;
}

.business-dropbox .business-plane .col{
    height: 1000px;
    float: left;
    border: 1px solid lightgray;
    width: calc(100%/3 - 4%);
}

.business-dropbox .business-plane .col-center{
    margin: 0 6%;
}

.business-dropbox .business-bottom{
    margin-top: 3em;
}

.business-bottom .row-top{
    height: 50px;
    border: 1px solid lightgray;
}
.business-bottom .row-bottom{
    height: 150px;
    border: 1px solid lightgray;
}

/* partner Dropbox */
.partner-dropbox{
    height: 600px;
    background-color: yellow;
}

.partner-dropbox .col{
    float: left;
    border: 1px solid lightgray;
    height: 500px;
}

.partner-dropbox .col-left{
    width: 60%;
}

.partner-dropbox .col-right{
    width: 40%;
}

/* operation dropbox */
.operation-dropbox{
    height: 900px;
    background-color: blueviolet;
}
.operation-row{
    margin-bottom: 5em;
}
.operation-row .col{
    float: left;
    height: 400px;
    width: calc(100%/3 - 2%);
    border: 1px solid lightgray;
}

.operation-row .col-center{
    margin: 0 3%;
}

/* section banners team */
.banners-team{
    background-color: bisque;
    height: 700px;
}

.banners-team .col{
    float: left;
    height: 400px;
}

.banners-team .col-sides{
    width: 30%;
    background-color: pink;
}

.banners-team .col-center{
    width: 40%;
    background-color: lightsalmon;
}

.row-team{
    height: 50%;
}

.row-team .col{
    width: 50%;
    height: 100%;
    border: 1px solid red;
}







