/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clear-fix::after{
    content: "";
    display: table;
    clear: both;
}

img{
    width: 100%;
}

html{
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
} 

ul{
    list-style: none;
}

/* COMMON */
.container{
    width: 70%;
    margin: 0 auto;
}

.container-2{
    width: 80%;
    margin: 0 auto;
}

.text{
    font-weight: 500;
}

.title{
    font-size: 3em;
}

.bold{
    font-weight: bold;
}

/* margin bottom */
.mb-05em{
    margin-bottom: .5em;
}
.mb-1em{
    margin-bottom: 1em;
}
.mb-2em{
    margin-bottom: 2em;
}
.mb-3em{
    margin-bottom: 3em;
}


/* button */
.btn{
    color: white;
    padding: .4em 1.2em;
}

.btn-blue{
    background-color: blue;
}


/* BODY */
/* HEADER */
header{
    height: 80px;
}

nav li{
    margin: 0 1.5em;
    display: inline-block;
    line-height: 80px;
}

nav li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.header-col{
    width: 50%;
    float: left;
}

.header-col-left img{
    width: 120px;
    vertical-align: middle;
}

.header-col-right ul li{
    float: right;
}



/* MAIN */
/* banner Dropbox*/
.bg-banner{
    background-color: #b4d0e7;
    margin-bottom: 12em;
}

.banner-dropbox{
    position: relative;
    bottom: -140px;
}

.title-banner{
    padding: 3em 0;
}

.title-banner h1{
    font-size: 5em;
    font-weight: bold;
}

.content-banner .banner-text{
    width: 30%;
    float: left;
}

.banner-text .btn-blue{
    text-decoration: none;
    text-align: center;
}

.banner-text div:first-of-type{
    margin: 2em 0 1em 0;
}

.cancel-free-trial{
    text-decoration: none;
    color: black;
    font-size: .9em;
}

.banner-text .arrow{
    margin-top: 1em;
    font-size: 3em;
}

.banner-text .arrow a{
    color: black;

}

.content-banner .banner-img{
    width: 70%;
    float: left;
}

/* business Dropbox */
.business-dropbox{
    height: 1400px;
}

.business-dropbox .circle{
    vertical-align: middle;
    display: inline-block;
    width: 17px;
    height: 17px;
    border-radius: 50%;
}

.business-dropbox .circle-gray{
    border: 1px solid gray;
}

.business-dropbox .circle-blue{
    border: 4px solid blue;
}

.billing{
    margin-right: 1em;
}

.business-dropbox .business-plane .col{
    height: 1000px;
    float: left;
    border: 1px solid lightgray;
    width: calc(100%/3 - 4%);
}

.business-dropbox .business-plane .col-center{
    margin: 0 6%;
}

.business-dropbox .business-bottom{
    margin-top: 3em;
}

.business-bottom .row-top{
    height: 50px;
    border: 1px solid lightgray;
}
.business-bottom .row-bottom{
    height: 150px;
    border: 1px solid lightgray;
}

.business-plane .content-top{
    border-bottom: 1px solid lightgray;
    text-align: center;
    font-size: 1.2em;
    height: 40px;
}

.business-plane .content-bottom{
    padding: 2em;
}
.business-plane .content-top span {
    line-height: 40px;
}

.business-plane .content-bottom div{
    margin: 3em 0 2em 0;
}

.business-plane .highlights li{
    margin-top: 1.2em;
}

.business-plane .content-bottom .month{
    font-weight: bold;
    font-size: .9em;
    color: #637381;
}

/* partner Dropbox */
.partner-dropbox{
    height: 600px;
    background-color: yellow;
}

.partner-dropbox .col{
    float: left;
    border: 1px solid lightgray;
    height: 500px;
}

.partner-dropbox .col-left{
    width: 60%;
}

.partner-dropbox .col-right{
    width: 40%;
}

/* operation dropbox */
.operation-dropbox{
    height: 900px;
    background-color: blueviolet;
}
.operation-row{
    margin-bottom: 5em;
}
.operation-row .col{
    float: left;
    height: 400px;
    width: calc(100%/3 - 2%);
    border: 1px solid lightgray;
}

.operation-row .col-center{
    margin: 0 3%;
}

/* section banners team */
.banners-team{
    background-color: bisque;
    height: 700px;
}

.banners-team .col{
    float: left;
    height: 400px;
}

.banners-team .col-sides{
    width: 30%;
    background-color: pink;
}

.banners-team .col-center{
    width: 40%;
    background-color: lightsalmon;
}

.row-team{
    height: 50%;
}

.row-team .col{
    width: 50%;
    height: 100%;
    border: 1px solid red;
}







